/* Reset */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Containers */

body {
  background-color: rgb(15, 14, 14);
}

.container {
  width: 90vw;
  margin: 20px auto;
  background-color: #F6F8F9;
  font-family: 'Roboto', sans-serif;
}

/* Header */

header {
  height: 70px;
  background-color: white;
  padding: 10px 20px;
}

.title-logo {
  display: inline-block;
  font-size: 38px;
}

.image-logo, .title-logo {
  vertical-align: middle;
}

/* Main */

main {
  width: 60vw;
  margin: 30px auto;
  background-color: white;
}

/* Buttons */

.buttons {
  height: 55px;
  padding-top: 15px;
  padding-bottom: 10px;
  border-bottom: 1px solid #F6F8F9;
}

.buttons, .tasks {
  padding-left: 50px;
}

.button {
  height: 30px;
  padding: 5px 12px;
  border-radius: 5px;
}

.button.blue {
  background-color: #47ADF1;
  border: none;
  color: white;
}

.button.white {
  background-color: white;
  border: 1px solid #C8CED3; 
  color: #C8CED3; 
}

/* Tasks */

.task {
  margin-top: 30px;
}

.task ul {
  list-style: none;
}

.task .circle::before {
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 1px solid;
  border-radius: 50%;
  font-size: 10px;
  text-align: center;
  margin: 10px 10px 0 0;
}

.circle.done::before {
  content: "\2714";
  color: #65C1AA;
}

.circle.todo::before {
  content: "\2716";
  color: #EC564C;
}